In [1]:
import pandas as pd
import json
import gc

#### If the category is "resource", answer types are ontology classes from either the DBpedia ontology or the Wikidata ontology. If category is "literal", answer types are either "number", "date", or "string". "boolean" answer type. If the category is "boolean", answer type is always "boolean".

In [3]:
dbpedia_json = None

with open('../datasets/DBpedia-entity-replacements/output/smarttask_dbpedia_train---types-added.txt') as json_file:
    dbpedia_json = json.load(json_file)

In [4]:
dbpedia_json[0]

{'id': 'dbpedia_1177-000',
 'question': 'Was DBpedia:Person a follower of DBpedia:Building DBpedia:Building?',
 'category': 'boolean',
 'type': ['boolean'],
 'originalquestion': 'Was Jacqueline Kennedy Onassis a follower of Melkite Greek Catholic Church?'}

In [5]:
def make_dataframe(ds_json):
    ds_dict = { "id": list(), "question": list(), "category": list(), 
               "type_1": list(), "type_2": list(), "type_3": list(), "type_4": list(), "type_5": list()}
    
    for item in ds_json:
        if item['question'] == None:
            continue
            
        id_ = item['id']
        question = item['question']
        category = item['category']

        if len(item['type']) > 6:
            type_1 = item['type'][6]
            type_2 = item['type'][5]
            type_3 = item['type'][4]
            type_4 = item['type'][3]
            type_5 = item['type'][2]
        elif len(item['type']) > 5:
            type_1 = item['type'][5]
            type_2 = item['type'][4]
            type_3 = item['type'][3]
            type_4 = item['type'][2]
            type_5 = item['type'][1]
        elif len(item['type']) > 4:
            type_1 = item['type'][4]
            type_2 = item['type'][3]
            type_3 = item['type'][2]
            type_4 = item['type'][1]
            type_5 = item['type'][0]
        elif len(item['type']) > 3:
            type_1 = item['type'][3]
            type_2 = item['type'][2]
            type_3 = item['type'][1]
            type_4 = item['type'][0]
            type_5 = "n/a"
        elif len(item['type']) > 2:
            type_1 = item['type'][2]
            type_2 = item['type'][1]
            type_3 = item['type'][0]
            type_4 = "n/a"
            type_5 = "n/a"
        elif len(item['type']) > 1:
            type_1 = item['type'][1]
            type_2 = item['type'][0]
            type_3 = "n/a"
            type_4 = "n/a"
            type_5 = "n/a"
        elif len(item['type']) > 0:
            type_1 = item['type'][0]
            type_2 = "n/a"
            type_3 = "n/a"
            type_4 = "n/a"
            type_5 = "n/a"
        else:
            type_1 = "n/a"
            type_2 = "n/a"
            type_3 = "n/a"
            type_4 = "n/a"
            type_5 = "n/a"
        
        ds_dict['id'].append(id_)
        
        ds_dict['question'].append(question)
        
        ds_dict['category'].append(category)
        ds_dict['type_1'].append(type_1)
        ds_dict['type_2'].append(type_2)
        ds_dict['type_3'].append(type_3)
        ds_dict['type_4'].append(type_4)
        ds_dict['type_5'].append(type_5)
    
    df = pd.DataFrame.from_dict(ds_dict)
    
    assert("dbo:Location" in df.type_1.values or "drug" in df.type_1.values)
    
    return df    
gc.collect()

0

In [6]:
dbpedia_df = make_dataframe(dbpedia_json)
#wikidata_df = make_dataframe(wikidata_json)

In [7]:
dbpedia_df.head()

,id,question,category,type_1,type_2,type_3,type_4,type_5
0,dbpedia_1177-000,Was DBpedia:Person a follower of DBpedia:Build...,boolean,boolean,n/a,n/a,n/a,n/a
1,dbpedia_1177-001,Was DBpedia:OfficeHolder a follower of DBpedia...,boolean,boolean,n/a,n/a,n/a,n/a
2,dbpedia_1177-002,Was DBpedia:Agent a follower of DBpedia:Buildi...,boolean,boolean,n/a,n/a,n/a,n/a
3,dbpedia_14427-000,What is the name of the opera based on DBpedia...,resource,dbo:Work,dbo:MusicalWork,dbo:Opera,n/a,n/a
4,dbpedia_16615-000,When did DBpedia:Person receive the DBpedia:Aw...,literal,date,n/a,n/a,n/a,n/a

In [8]:
dbpedia_df.shape

(163488, 8)

In [10]:
dbpedia_df.to_csv("../datasets/DBpedia-entity-replacements/dbpedia-annotated.csv", sep="|", index=False)
#wikidata_df.to_csv("../datasets/wikidata.csv", sep="|", index=False)

In [35]:
dbpedia_df[dbpedia_df.category == "resource"].type_1.value_counts()

dbo:Person               2087
dbo:Country               716
dbo:City                  672
dbo:Company               371
dbo:Award                 339
                         ...
dbo:Holiday                 1
dbo:AdultActor              1
dbo:Monument                1
dbo:Anime                   1
dbo:WorldHeritageSite       1
Name: type_1, Length: 267, dtype: int64

In [36]:
wikidata_df[wikidata_df.category == "resource"].type_1.value_counts()

person                     731
omnivore                   651
natural person             466
city/town                  263
state                      247
                          ...
record label                 1
federal holiday              1
textile                      1
active galactic nucleus      1
white dwarf                  1
Name: type_1, Length: 1679, dtype: int64

In [42]:
dbpedia_df[dbpedia_df.category == "literal"].type_1.value_counts()

string    2068
number    1634
date      1486
Name: type_1, dtype: int64

In [41]:
wikidata_df[wikidata_df.category == "literal"].type_1.value_counts()

string    2086
date      1301
number    1042
Name: type_1, dtype: int64