In [1]:
import pandas as pd
import json
import gc

#### If the category is "resource", answer types are ontology classes from either the DBpedia ontology or the Wikidata ontology. If category is "literal", answer types are either "number", "date", or "string". "boolean" answer type. If the category is "boolean", answer type is always "boolean".

In [2]:
dbpedia_json = None
wikidata_json = None

with open('../datasets/DBpedia/smarttask_dbpedia_train.json') as json_file:
    dbpedia_json = json.load(json_file)
    
with open('../datasets/Wikidata/lcquad2_anstype_wikidata_train.json') as json_file:
    wikidata_json = json.load(json_file)

In [5]:
len_list = list()

for i in dbpedia_json:
    len_list.append(len(i['type']))

In [10]:
import numpy as np
np.percentile(len_list, 95)

5.0

In [6]:
dbpedia_json[0]

{'id': 'dbpedia_1177',
 'question': 'Was Jacqueline Kennedy Onassis a follower of Melkite Greek Catholic Church?',
 'category': 'boolean',
 'type': ['boolean']}

In [7]:
wikidata_json[0]

{'id': 19719,
 'question': 'What periodical literature does Delta Air Lines use as a moutpiece?',
 'category': 'resource',
 'type': ['publication',
  'recurring',
  'intellectual work',
  'text',
  'communication medium',
  'serial']}

In [30]:
def make_dataframe(ds_json):
    ds_dict = { "id": list(), "question": list(), "category": list(), 
               "type_1": list(), "type_2": list(), "type_3": list(), "type_4": list(), "type_5": list()}
    
    for item in ds_json:
        id_ = item['id']
        question = item['question']
        category = item['category']

        if len(item['type']) > 6:
            type_1 = item['type'][6]
            type_2 = item['type'][5]
            type_3 = item['type'][4]
            type_4 = item['type'][3]
            type_5 = item['type'][2]
        elif len(item['type']) > 5:
            type_1 = item['type'][5]
            type_2 = item['type'][4]
            type_3 = item['type'][3]
            type_4 = item['type'][2]
            type_5 = item['type'][1]
        elif len(item['type']) > 4:
            type_1 = item['type'][4]
            type_2 = item['type'][3]
            type_3 = item['type'][2]
            type_4 = item['type'][1]
            type_5 = item['type'][0]
        elif len(item['type']) > 3:
            type_1 = item['type'][3]
            type_2 = item['type'][2]
            type_3 = item['type'][1]
            type_4 = item['type'][0]
            type_5 = "n/a"
        elif len(item['type']) > 2:
            type_1 = item['type'][2]
            type_2 = item['type'][1]
            type_3 = item['type'][0]
            type_4 = "n/a"
            type_5 = "n/a"
        elif len(item['type']) > 1:
            type_1 = item['type'][1]
            type_2 = item['type'][0]
            type_3 = "n/a"
            type_4 = "n/a"
            type_5 = "n/a"
        elif len(item['type']) > 0:
            type_1 = item['type'][0]
            type_2 = "n/a"
            type_3 = "n/a"
            type_4 = "n/a"
            type_5 = "n/a"
        else:
            type_1 = "n/a"
            type_2 = "n/a"
            type_3 = "n/a"
            type_4 = "n/a"
            type_5 = "n/a"
            
        ds_dict['id'].append(id_)
        ds_dict['question'].append(question)
        ds_dict['category'].append(category)
        ds_dict['type_1'].append(type_1)
        ds_dict['type_2'].append(type_2)
        ds_dict['type_3'].append(type_3)
        ds_dict['type_4'].append(type_4)
        ds_dict['type_5'].append(type_5)
    
    df = pd.DataFrame.from_dict(ds_dict)
    
    assert("dbo:Location" in df.type_1.values or "drug" in df.type_1.values)
    
    return df    
gc.collect()

0

In [29]:
dbpedia_df = make_dataframe(dbpedia_json)
wikidata_df = make_dataframe(wikidata_json)

In [10]:
dbpedia_df.head()

,id,question,category,type_1,type_2,type_3,type_4,type_5
0,dbpedia_1177,Was Jacqueline Kennedy Onassis a follower of M...,boolean,boolean,n/a,n/a,n/a,n/a
1,dbpedia_14427,What is the name of the opera based on Twelfth...,resource,dbo:Work,dbo:MusicalWork,dbo:Opera,n/a,n/a
2,dbpedia_16615,When did Lena Horne receive the Grammy Award f...,literal,date,n/a,n/a,n/a,n/a
3,dbpedia_23480,Do Prince Harry and Prince William have the sa...,boolean,boolean,n/a,n/a,n/a,n/a
4,dbpedia_3681,What is the subsidiary company working for Leo...,resource,dbo:Agent,dbo:Organisation,dbo:EducationalInstitution,n/a,n/a

In [11]:
wikidata_df.head()

,id,question,category,type_1,type_2,type_3,type_4,type_5
0,19719,What periodical literature does Delta Air Line...,resource,serial,communication medium,text,intellectual work,recurring
1,15554,Who is the child of Ranavalona I's husband?,resource,natural person,omnivore,person,n/a,n/a
2,974,Is it true Jeff_Bridges occupation Lane Chandl...,boolean,boolean,n/a,n/a,n/a,n/a
3,27610,Which is the operating income for Qantas?,literal,number,n/a,n/a,n/a,n/a
4,24488,which cola starts with the letter p,resource,protected name,class,symbol,non-alcoholic beverage,carbonated beverage

In [12]:
dbpedia_df.category.value_counts()

resource    9584
literal     5188
boolean     2799
Name: category, dtype: int64

In [13]:
wikidata_df.category.value_counts()

resource    11683
literal      4429
boolean      2139
Name: category, dtype: int64

In [14]:
dbpedia_df.type_1.value_counts()

dbo:Agent                   4183
boolean                     2799
dbo:Location                2243
string                      2068
number                      1634
date                        1486
dbo:Work                     899
dbo:Award                    358
dbo:TopicalConcept           295
dbo:ChemicalSubstance        247
dbo:Activity                 204
dbo:Media                    188
dbo:Event                    115
dbo:Disease                  111
dbo:PersonFunction            98
dbo:Name                      91
dbo:Biomolecule               77
dbo:Species                   65
dbo:MeanOfTransportation      54
dbo:EthnicGroup               44
dbo:Country                   42
dbo:PoliticalParty            41
dbo:Language                  39
dbo:AnatomicalStructure       39
dbo:Device                    38
dbo:MedicalSpecialty          20
n/a                           16
dbo:UnitOfWork                15
dbo:Currency                  11
dbo:Food                      11
dbo:TimePeriod                 6
dbo:River                      4
dbo:MountainRange              4
dbo:HorseRace                  3
dbo:Place                      3
dbo:MusicalArtist              3
dbo:SoccerPlayer               2
dbo:Person                     2
dbo:City                       2
dbo:CollegeCoach               1
dbo:PopulatedPlace             1
dbo:Flag                       1
dbo:OfficeHolder               1
dbo:Holiday                    1
dbo:PublicService              1
dbo:Museum                     1
dbo:SoccerClub                 1
dbo:University                 1
dbo:RecordLabel                1
dbo:BaseballTeam               1
Name: type_1, dtype: int64

In [15]:
wikidata_df.type_1.value_counts()

boolean                    2139
string                     2089
date                       1304
number                     1038
omnivore                    741
                           ...
metallic material             1
final                         1
manifesto                     1
tower                         1
recurrent event edition       1
Name: type_1, Length: 1880, dtype: int64

In [31]:
dbpedia_df.to_csv("../datasets/dbpedia.csv", sep="|", index=False)
wikidata_df.to_csv("../datasets/wikidata.csv", sep="|", index=False)

In [35]:
dbpedia_df[dbpedia_df.category == "resource"].type_1.value_counts()

dbo:Person               2087
dbo:Country               716
dbo:City                  672
dbo:Company               371
dbo:Award                 339
                         ...
dbo:Holiday                 1
dbo:AdultActor              1
dbo:Monument                1
dbo:Anime                   1
dbo:WorldHeritageSite       1
Name: type_1, Length: 267, dtype: int64

In [36]:
wikidata_df[wikidata_df.category == "resource"].type_1.value_counts()

person                     731
omnivore                   651
natural person             466
city/town                  263
state                      247
                          ...
record label                 1
federal holiday              1
textile                      1
active galactic nucleus      1
white dwarf                  1
Name: type_1, Length: 1679, dtype: int64

In [42]:
dbpedia_df[dbpedia_df.category == "literal"].type_1.value_counts()

string    2068
number    1634
date      1486
Name: type_1, dtype: int64

In [41]:
wikidata_df[wikidata_df.category == "literal"].type_1.value_counts()

string    2086
date      1301
number    1042
Name: type_1, dtype: int64